body{
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}
/* navbar */
.content{
padding:  0px 30px;

} 
.flex{
    display: flex;
}
.navbar{
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 10px 0;
    background-color: white;
    top: 0;
    
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    
  
}
.navbar .menu-list{
    list-style: none;
}
.navbar .menu-list{
    display: inline-flex;
  
}
.menu-list li a{
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
.menu-list > li>a:hover{
 color: #8F5CF9;
}
.checkbtn{
    font-size: 25px;
    color: #000;
    float: right;
    margin-right: 30px;
    display: none;
}
#check{
    display: none;

}
.new-header {
    position: absolute;;
    top: 12px;
    height: 25px;
}
.menu-list > li:nth-child(11),.menu-list > li:nth-child(12){
    display: none;
  
}

.nav-btn{
    display: flex;
    height: 40px;
    margin-top: 20px;
    margin-left:30px;
    margin-bottom: 20px;
  
}
.nav-btn > button{
 width: 150px;
 text-transform: uppercase;
 font-size: 12px;
 margin-left: 20px;
 background-color: white;
 border: 2px solid #8252FA;
 border-radius: 8px;
 font-weight: 700;
 font-family: 'Roboto Condensed', sans-serif;
 letter-spacing: 2px;
 
}
.nav-btn > button:nth-child(1){
    background-image: linear-gradient(90deg, #8F5CF9 0%, #E19AF2 80%);
    color: white;
    border: none;
}
.nav-btn > button:nth-child(1):hover{
    background: white;
    color: black;
    border: 2px solid #8252FA;
}
.medi-screen{
display:none ;
}



/* front page */
#header-page{
    background-image: linear-gradient(90deg, #8F5CF9 0%, #E19AF2 80%);
    height: 90vh;
    display: flex;
}
#header-page > div{
  
    width: 580px;
    height: 70%;
    margin-top: 6%;
    margin-right: 20px;
    color: white;
   font-family: Arial, Helvetica, sans-serif;

}
#header-page > div > img{
    width: 100%;
  
}
#header-page > div:nth-child(1){
    margin-left: 7%;
}
#header-page > div:nth-child(2){
    margin-right: 10px;
   
}
.f-size-m{
    font-size: 20px;
}
.f-size-s{
    font-size: 15px;
    font-weight: lighter;
}
#input-mob{
    
    width: 454px;
    background-color: white;
    border-radius: 30px;
    border: 2px solid #E58C5E ;
   
}

.input-height{
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    margin-left: 10px
   

}
.started{
    width: 150px;
    background-image: linear-gradient(90deg, #E94882 0%,#E58C5E 80%);
    color: white;
    height: 52px;
}


.input-height1{
    height: 45px;
    border: none;
    font-size: 18px;
}
.flex > a > img{
 width: 50px;
 background-image: linear-gradient(90deg, #E94882 0%,#E58C5E 80%);
 height: 50px;
 border-radius: 30px;
 margin-top: 15px;
 margin-left: 10px;
 border: 1px solid white;
}
.q{
    padding-top: 20px;
}

/* didider */
.skewed {
    position: absolute;
   
    width: 100%;
    height: 120px;
    background: white;
    z-index: 0;
    transform: skewY(-5deg);
    transform-origin: top left;
  }
/* front page end */
/* our client */
.total-client{
    display: flex;
    width: 700px;

    margin: auto;
    box-shadow: 2px 2px 5px gray;
    
}
.total-client >div{
   margin: 10px 40px;
   color: rgb(99, 99, 99);
   font-family: Arial, Helvetica, sans-serif;
   
}
.center{
    margin: auto;

    width: 200px;
    font-family: 'Roboto Condensed', sans-serif;
}
.divider{
    height: 200px;
}
.clientele{
    width: 95%;
   
    margin: auto;
}
.clientele-tag{
  
    width: 200px;
    margin: auto;
    margin-top: 30px;
}
.client-logo{
    display: grid;
    gap: 28px;
    margin-left: 200px;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-template-rows: 100px 100px 100px;
    margin-top: 50px;
}

.img-width{
    width: 100%;
    
}
.omnichannel > div{
    width: 80%;
   
    margin: auto;
}
.omni-header > h1{
    
    text-align: center;
}
.omni-header > p{
  text-align: center;
}
.chatbot > h2{
    font-size: 18px;
}
.chatbot{
    font-family: 'Roboto Condensed', sans-serif;
}
.available > h1{
    text-align: center;
}
.avail{
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 80px;
}
.avail > div {
    width: 18%;
    margin: 20px;
    margin: auto;
  
    height: 150px;
    padding: 20px;
    

}
.avail > div:hover{
    box-shadow: 2px 2px 5px gray;
}
#usercase > div{
    
    width: 80%;
    margin: auto;
}
#usercase > div > h1{
    font-size: 30px;
    text-align: center;
}
#usercase > div > p{
    color: rgb(99, 99, 99);
    text-align: center;
}
.usecase-grid{
    display: grid;
    gap: 50px 100px;
   
    grid-template-columns: 42% 42%;
    grid-template-rows: 450px 450px 450px 450px 450px 450px 450px 450px;
   
}
.usecase-grid > div{
 
    margin-left: 10px;
}
.line{
    width: 50px;
    height: 2px;
    background-color: rebeccapurple;
}
.top-padding{
    padding-top: 100px;
}
.divider1{
    height: 100px;
}
.top-padding > p{
    color: rgb(99, 99, 99);
}
.top-padding > h1{
    font-weight: 200;
    font-size: 40px;
}
.integration > div{
    text-align: center;
    margin: auto;
    width: 53%;
}
.integration > div >p{
    color: rgb(99, 99, 99);
    font-family: sans-serif;
}
.integration > div > p >a{
    color:rgb(40, 180, 235);
}
.integration > div >p >a:hover{
    color: cyan;
}
.smartagent{
    text-align: center;

}
.smartagent > h1{
 letter-spacing: 2px;
}
.smartagent > p{
    color:gray;
}


.knowmore{
    width: 200px;
    margin: auto;
}
/* feedback */
/* animated start */
*, *:before, *:after {
    box-sizing: border-box;
  }
  /* html, body {
    height: 100%;
  } */
  .testimonials-section {
    background: #fff;
    height: 600px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .slider__nav {
    width: 12px;
    height: 12px;
    margin: 80px 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: #8F5CF9, #8F5CF9;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
  }
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }
  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }
  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
  }
  .slider__nav:checked:nth-of-type(5) ~ .slider__inner {
    left: -400%;
  }
  .slider__inner {
    position: absolute;
    top: 80px;
    left: 0;
    width: 500%;
    height: auto;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  .slider__contents {
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .slider__caption {
    font-size: 14px;
    color: #8F5CF9;
    opacity: .5;
    font-family: 'Roboto';
    font-weight: bold;
  }
  .slider__txt {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto';
    line-height: 1.7;
    color: #8F5CF9;
    margin-top: -20px;
    margin-bottom: 20px;
    max-width: 750px;
  }
  .quote {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 100px;
    color: #ec2027;
    margin-bottom: 0;
  }
  
  @-webkit-keyframes check {
    50% {
      outline-color: #8F5CF9;
      box-shadow: #8F5CF9, #8F5CF9;
    }
    100% {
      outline-color: #8F5CF9;
      box-shadow: #8F5CF9, #8F5CF9;
    }
  }
  
  @keyframes check {
    50% {
      outline-color: #8F5CF9;
      box-shadow: #8F5CF9, #8F5CF9;
    }
    100% {
      outline-color: #8F5CF9;
      box-shadow: #8F5CF9, #8F5CF9;
    }
  }
  







/* animated end */
#feedBack{
   background-color: rgb(240, 240, 240);
  
  }
  .review i {
    color:#ffc000;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .feedback-color {
     color:#777;
     font-size: 12px;
     margin: 50px 0 0;
     text-transform: none;
     font-weight: 200;
     font-family: 'Rubik', sans-serif;
  }
  
  #feedBack a{
    color: rgb(24, 140, 236);
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
  }
  
  .feedback-image{
    height: 110px;
    width: 110px;
    margin: 40px auto 15px;
  }
  .feedback-image img {
    border-radius: 100%;
    height: 100%;
  }
  
  #feedBack > .chatbot-head p{
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    letter-spacing: 0.2px;
  }
  
  #feedBack h4 {
    margin: 10px 0 22px ;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color:#777;
    text-transform: capitalize;
  }
  
.chatbot-head {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
    width: 850px;
     
  }
  
  .chatbot-color {
    color:#777;
    font-size:14px;
    margin-top: 200px;
    margin-bottom:20px;
  }
  /* feedback */
  #smatAgent{
    min-width: 500px;
    width: 80%;
    margin: auto;
     
  }
  
  .smatagent-size {
    font-size: 16px;
  }
  .smatagent-image img {
    width:95%;
    height:400px;
    margin: 40px 25% 40px 25%;
  }
  .smatagent {
    font-size:22px;
  }
  
  #smatAgent .smatBtn{
    width: 10%;
    margin: 20px auto 0;
  }
  #smatAgent button{
    text-align: center;
  }


.blog{
    text-align: center;
}
.blog > h1{
    font-size: 35px;
    letter-spacing: 1px;
}
.gray{
    color: gray;
}
.blog-post{
    display: flex;
    width: 80%;
    margin: auto;
   
}
.blog-post > div{
    width: 30%;
    margin: 20px;
    height: 350px;
  
    text-decoration: none;
}
.blog-post > div > h2{
    font-weight: 100;
    font-size: 20px;
    text-decoration: none;
}

.inq-section{
    height: 300px;
    background-image: linear-gradient(90deg, #8F5CF9 0%, #E19AF2 80%);
}
.inq-section > h1{
    color: white;
    text-align: center;
    padding-top: 100px;
}
.inq-section > div{
    margin: auto;
    margin-top: 30px;
}

/* footer */
#footer{
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FAFAFB;
    margin-top: -20px;
  }
  
  .grid{
    display: grid;
    margin: 1% auto 0;
    width: 75%;
    grid-template-columns: 20%;
    justify-content: justify;
    grid-template-areas: "a b c d e";                    
    grid-gap: auto;  
  }
  
  .grid > div{
    width: 90%;
    padding-left: 10%;
    margin-left: 40px; 
    max-width: 350px;
  }
  
  #footer > .one{
    grid-area: a;
  }
  #footer > .two{
    grid-area: b;
  }
  #footer > .three{
    grid-area: c;
  }
  #footer > .four{
    grid-area: d;
  }
  #footer > .five{
    grid-area: e;
  }
  .footLogo{
    border-top: solid 1px rgb(211,211,211);
    display: block;
    width: 100%;
    border: 1px #D3D3D3 solid;
    text-align: center;
   
  }
  .footLogo img{
    height: 60px;
    margin-top: 7px;
  } 
  #footer  .flex > div{
    margin-top: 4px;
    flex-basis: 22%;
    text-align: left;
    font-size: 18px;
    color: #2196F3;
   
  }
  
  
  
  .footerHead{
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 20px 0;
    padding-bottom: 10px;
    
  }
  #footer a{
    text-decoration: none;
    color: #a2a1a1;
    font-size: 16px;
    display: block;
    margin: 20px 0;
    font-weight: normal; 
  }
  #footer i{
    margin-right: 10px;
    margin-top: 4px;
  }
  
  #footer a:active, #footer a:hover{
    text-decoration: none;
    color: #2196F3;;
  }
  
  .footerContent{
     margin: 20px 0;
  }
  
  #chatBot > img{
    height: 55px;
    width: 55px;
    cursor: pointer;
    position: fixed;
    bottom: 1.6%;
    right: 2%;
    z-index: 100;
    overflow: hidden;
  } 
  .chatBox{
    position: fixed;
    height: 500px;
    width: 300px;
    bottom: 10%;
    right: 2%;
    z-index: 101;
    overflow: hidden;
    border:black 1px solid;
    background-color: white;
    border-radius: 5px;
    padding: 2%;
  }

/* pulse effect */

.pulse { 
    width: 20px;
    position: fixed; 
    top: 90%; 
    left: 94%; 
    transform: translate(-505, -50%); 
    width: 55px; 
    height: 55px; 
    background-color: #8F5CF9;
    border: 2px solid #33ff00; 
    border-radius: 50%; 
    box-sizing: border-box; 
    box-shadow: 2 5 8 10px #45237a;
    border: 1px solid #45237a;
} 

.pulse:before, 
.pulse:after { 
    content: ''; 
    position: absolute; 
    left: -15px; 
    top: -15px; 
    right: -15px; 
    bottom: -15px; 
    border: 2px solid blueviolet; 
    border-radius: 50%; 
    animation: animate 2s linear infinite 
} 

.pulse:after { 
    animation-delay: 1s; 
} 
/* chatbot animation end */
.video { 
    width: 20px;
    position: absolute; 
    top: 70%; 
    left: 23%; 
    transform: translate(-505, -50%); 
    width: 55px; 
    height: 55px; 
    background-image: linear-gradient(90deg, #E94882 0%,#E58C5E 80%);
    border: 2px solid #33ff00; 
    border-radius: 50%; 
    box-sizing: border-box; 
    box-shadow: 2 5 8 10px #E58C5E, 0 0 0 40px #E94882;
    border: 1px solid #45237a;
} 

.video:before, 
.video:after { 
    content: ''; 
    position: absolute; 
    left: -15px; 
    top: -15px; 
    right: -15px; 
    bottom: -15px; 
    border: 2px solid #E58C5E; 
    border-radius: 50%; 
    animation: animate 2s linear infinite 
} 

.video:after { 
    animation-delay: 1s; 
}



@keyframes animate { 
    0% { 
        transform: scale(1.0); 
    } 

    100% { 
        transform: scale(0.7); 
    } 
} 
.img{
    width:100%;
}


  /* footer end */
@media(max-width:1140px){
    .nav-btn{
        flex-direction: column;
        height: 10px;
    }
    .center{
        display: block;
    }
    #free-trial {
        height: 40px;
    }
}
@media (max-width:960px){
   
    .navbar {
        position: static;
    }
    .large-screen{
        display: none;
    }
    .medi-screen{
        display: contents;
    }
    #free-trial {
        height: 40px;
    }
    .client-logo{
        display: grid;
        margin-left: 30px;
        gap: 28px;
        grid-template-columns: 22% 22% 22% 22%;
        grid-template-rows: 100px 100px 100px;
        margin-top: 50px;
    }
  
}
@media (max-width: 600px){
    /* navbar */

    .navbar{
        position:static
    }
    .navbar .menu-list{
      position: absolute;
       top: 0;
        left: 0;
        height: 100%;
        width: 80%;
        max-width: 400px;
        background: #222;
        display: block;
        padding: 40px 0;
        text-align: center;
        color: white;
        display: none;
       
    }
    .nav-btn{
        display: none;
    }
    .new-header {
        display: none;
    }

    .navbar .menu-list>li{
        margin-top: 25px;

    }
    .navbar .menu-list > li >a{
        font-size: 23px;
        color: white;
    }
    .navbar .menu-list > li > a:hover{
        color: cyan;
    }
    .checkbtn{
      display: block;
    }
    #check:checked ~ .menu-list{
        display: block;
    }
    .menu-list > li:nth-child(11),.menu-list > li:nth-child(12){
        display: block;
        background-color: blueviolet;
      
    }
    /* header page */
    #tag-line{
        margin-top: 50px;
    }
    /* client */
    .total-client{
        flex-direction: column;
      
    }
    .center{
        display: block;
        margin-top: 20px;
        
    }
   
    #free-trial {
        height: 40px;
    }
    .divider{
        height: 20px;
        display: none
    }
  
    .client-logo{
        display: grid;
        margin-left: 50px;
        gap: 28px;
        grid-template-columns: 45% 45%;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
        margin-top: 50px;
    }
    .avail{
        flex-direction: column;
    }
    .omniflex{
        flex-direction: column;
    }
    .total-client{
        width: 400px;
    }
    .usecase-grid{
        display: grid;
        gap: 50px 100px;
       
        grid-template-columns: 95%;
        grid-template-rows: 200px;
    }

    #head-img{
        display: none;
    }
    .checkbtn{
        display: block;
    }
   #gridfooter{
       margin-left: 0px;
     
       width: 95%;
       grid-template-columns: 17% 17% 17% 17% 17%;
   }
   #gridfooter > div > div {
       font-size: 15px;
   }
  
   #clickableImage{
       display: none;
   }
 
   #int-img,#smat-img > img {
       width: 80%;
      
       margin-left: 0px;
   }
   .skewed-hide{
       display: none;
   }
   .testimonials-section{
       display: none;
   }
   #test-head{
       display: none;
   }

}