body{
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}
/* navbar */
.content{
padding:  0px 30px;

} 
.flex{
    display: flex;
}
.navbar{
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 10px 0;
    background-color: white;
    top: 0;
    
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    
  
}
.navbar .menu-list{
    list-style: none;
}
.navbar .menu-list{
    display: inline-flex;
  
}
.menu-list li a{
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
.menu-list > li>a:hover{
 color: #8F5CF9;
}
.checkbtn{
    font-size: 25px;
    color: #000;
    float: right;
    margin-right: 30px;
    display: none;
}
#check{
    display: none;

}
.new-header {
    position: absolute;;
    top: 12px;
    height: 25px;
}
.menu-list > li:nth-child(11),.menu-list > li:nth-child(12){
    display: none;
  
}

.nav-btn{
    display: flex;
    height: 40px;
    margin-top: 20px;
    margin-left:30px;
    margin-bottom: 20px;
  
}
.nav-btn > button{
 width: 150px;
 text-transform: uppercase;
 font-size: 12px;
 margin-left: 20px;
 background-color: white;
 border: 2px solid #8252FA;
 border-radius: 8px;
 font-weight: 700;
 font-family: 'Roboto Condensed', sans-serif;
 letter-spacing: 2px;
 
}
.nav-btn > button:nth-child(1){
    background-image: linear-gradient(90deg, #8F5CF9 0%, #E19AF2 80%);
    color: white;
    border: none;
}
.nav-btn > button:nth-child(1):hover{
    background: white;
    color: black;
    border: 2px solid #8252FA;
}
.medi-screen{
display:none ;
}



/* front page */
#header-page{
    background-image: linear-gradient(90deg, #8F5CF9 0%, #E19AF2 80%);
    height: 90vh;
    display: flex;
}
#header-page > div{
  
    width: 580px;
    height: 70%;
    margin-top: 6%;
    margin-right: 20px;
    color: white;
   font-family: Arial, Helvetica, sans-serif;

}
#header-page > div > img{
    width: 100%;
  
}
#header-page > div:nth-child(1){
    margin-left: 7%;
}
#header-page > div:nth-child(2){
    margin-right: 10px;
   
}
.f-size-m{
    font-size: 20px;
}
.f-size-s{
    font-size: 15px;
    font-weight: lighter;
}
#input-mob{
    
    width: 450px;
    background-color: white;
    border-radius: 30px;
    border: 2px solid #E58C5E ;
   
}

.input-height{
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    margin-left: 10px
   

}
.started{
    width: 150px;
    background-image: linear-gradient(90deg, #E94882 0%,#E58C5E 80%);
    color: white;
    height: 52px;
}


.input-height1{
    height: 45px;
    border: none;
    font-size: 18px;
}
.flex > a > img{
 width: 50px;
 background-image: linear-gradient(90deg, #E94882 0%,#E58C5E 80%);
 height: 50px;
 border-radius: 30px;
 margin-top: 15px;
 margin-left: 10px;
 border: 1px solid white;
}
/* front page end */
/* our client */
.total-client{
    display: flex;
    width: 700px;

    margin: auto;
    
}
.total-client >div{
   margin: 10px 40px;
   color: rgb(99, 99, 99);
   font-family: Arial, Helvetica, sans-serif;
}
.center{
    margin: auto;

    width: 200px;
    font-family: 'Roboto Condensed', sans-serif;
}
.divider{
    height: 200px;
}
.clientele{
    width: 95%;
   
    margin: auto;
}
.clientele-tag{
  
    width: 200px;
    margin: auto;
    margin-top: 30px;
}
.client-logo{
    display: grid;
    gap: 28px;
    margin-left: 200px;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-template-rows: 100px 100px 100px;
    margin-top: 50px;
}

.img-width{
    width: 100%;
    
}
.omnichannel > div{
    width: 80%;
   
    margin: auto;
}
.omni-header > h1{
    
    text-align: center;
}
.omni-header > p{
  text-align: center;
}
.chatbot > h2{
    font-size: 18px;
}
.chatbot{
    font-family: 'Roboto Condensed', sans-serif;
}
.available > h1{
    text-align: center;
}
.avail{
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 80px;
}
.avail > div {
    width: 18%;
    margin: 20px;
    margin: auto;
  
    height: 150px;
    padding: 20px;

}
#usercase > div{
    
    width: 80%;
    margin: auto;
}
#usercase > div > h1{
    font-size: 30px;
    text-align: center;
}
#usercase > div > p{
    color: rgb(99, 99, 99);
    text-align: center;
}
.usecase-grid{
    display: grid;
    gap: 50px 100px;
   
    grid-template-columns: 42% 42%;
    grid-template-rows: 450px 450px 450px 450px 450px 450px 450px 450px;
   
}
.usecase-grid > div{
 
    margin-left: 10px;
}
.line{
    width: 50px;
    height: 2px;
    background-color: rebeccapurple;
}
.top-padding{
    padding-top: 100px;
}
.divider1{
    height: 100px;
}
.top-padding > p{
    color: rgb(99, 99, 99);
}
.top-padding > h1{
    font-weight: 200;
    font-size: 40px;
}
.integration > div{
    text-align: center;
    margin: auto;
    width: 53%;
}
.integration > div >p{
    color: rgb(99, 99, 99);
    font-family: sans-serif;
}
.integration > div > p >a{
    color:rgb(40, 180, 235);
}
.integration > div >p >a:hover{
    color: cyan;
}
.smartagent{
    text-align: center;

}
.smartagent > h1{
 letter-spacing: 2px;
}
.smartagent > p{
    color:gray;
}
.knowmore{
    width: 200px;
    margin: auto;
}
.blog{
    text-align: center;
}
.blog > h1{
    font-size: 35px;
    letter-spacing: 1px;
}
.gray{
    color: gray;
}
.blog-post{
    display: flex;
    width: 80%;
    margin: auto;
   
}
.blog-post > div{
    width: 30%;
    margin: 20px;
    height: 350px;
  
    text-decoration: none;
}
.blog-post > div > h2{
    font-weight: 100;
    font-size: 20px;
    text-decoration: none;
}
@media(max-width:1140px){
    .nav-btn{
        flex-direction: column;
        height: 10px;
    }
    .center{
        display: block;
    }
    #free-trial {
        height: 40px;
    }
}
@media (max-width:960px){
   
    .navbar {
        position: static;
    }
    .large-screen{
        display: none;
    }
    .medi-screen{
        display: contents;
    }
    #free-trial {
        height: 40px;
    }
    .client-logo{
        display: grid;
        margin-left: 30px;
        gap: 28px;
        grid-template-columns: 22% 22% 22% 22%;
        grid-template-rows: 100px 100px 100px;
        margin-top: 50px;
    }
  
}
@media (max-width: 600px){
    /* navbar */

    .navbar{
        position:static
    }
    .navbar .menu-list{
      position: absolute;
       top: 0;
        left: 0;
        height: 100%;
        width: 80%;
        max-width: 400px;
        background: #222;
        display: block;
        padding: 40px 0;
        text-align: center;
        color: white;
        display: none;
       
    }
    .nav-btn{
        display: none;
    }
    .new-header {
        display: none;
    }

    .navbar .menu-list>li{
        margin-top: 25px;

    }
    .navbar .menu-list > li >a{
        font-size: 23px;
        color: white;
    }
    .navbar .menu-list > li > a:hover{
        color: cyan;
    }
    .checkbtn{
      display: block;
    }
    #check:checked ~ .menu-list{
        display: block;
    }
    .menu-list > li:nth-child(11),.menu-list > li:nth-child(12){
        display: block;
        background-color: blueviolet;
      
    }
    /* header page */
    #tag-line{
        margin-top: 50px;
    }
    /* client */
    .total-client{
        flex-direction: column;
      
    }
    .center{
        display: block;
        margin-top: 20px;
        
    }
   
    #free-trial {
        height: 40px;
    }
    .divider{
        height: 20px;
        display: none
    }
    .total-client > div{
      padding-left: 170px;
       
        width: 300px;
    }
    .client-logo{
        display: grid;
        margin-left: 50px;
        gap: 28px;
        grid-template-columns: 45% 45%;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
        margin-top: 50px;
    }
   
}