#enter>div{
    width: 100%;
    height: 70px;
    border: 1px solid gray;
    
}
#enter>div:nth-child(1){

    height: 100px;
    background-color: white;
    border: 1px solid white;
}
#enter>div:nth-child(2){
    height:100px;
    text-align: center;
    background-color:#EE964B;
    font-size: 30px;
    color: white;
    font-family: 'Saira', sans-serif;
  
}
#enter>div:nth-child(3){
    height: 130px;
    font-style: inherit;
    font-size: 40px;
    text-align: left;
  

}
span{
   padding: 10px 10px;
    margin-left: 10px;
    text-align: center;
    
   
}
#enter>div:nth-child(4){
    height: 180px;
    font-size: 20px;
    line-height: 30px;

}
#enter>div:nth-child(5){
    height: 300px;
    font-size: 20px;
    line-height: 30px;
}
#enter-btn{
    background-color:#EE964B;
    width: 70%;
    height: 35%;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 30px;
    color: white;
    font-size: 20px;
}

/* displaying for small and medium screen using grid and media queries  */
#custom{
    display: grid;
    grid-area: enter;
}
p{
    margin-left: 20px;
    font-size: 20px;
    

}
h1{
    font-size: 40px;
    color: gray;
    text-align: center;
    
}